@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.slider {
    margin-left: auto;
    margin-right: auto;
    position: static;
    width: 1000px;
    height: 700px;
    overflow: hidden;
}
.slides {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    height: 100%;
}
.container
{
display: flex;
flex-direction: column;
}
.div_btn
{   
    width: 160px;
    height: auto;
    position: static;
    display: flex;
    flex-direction: row;
    
}
body
{
    background-color:rgb(17, 17, 17);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(59, 59, 199);
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.button:hover {
    background-color: white;
}

.button.active {
    background-color: transparent;
    border: 2px solid rgb(59, 59, 199);
}
.sub
{  
    color: white; 
    font-family: 'Montserrat', sans-serif; 
}
.bottom
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sub.active
{
    display: block;
}
.disabled
{
    display: none;
}